/* Project */
.projects,
.skills {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 75px;
  padding-top: 70px;
}

.project_data_links {
  display: flex;
  gap: 25px;
  text-decoration: underline;
  color: var(--color-links);
  font-family: var(--font-weight-bold);
  margin-top: 2.3rem;
}

.project_main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 70px;
  column-gap: 70px;
}

.projects_data {
  align-self: center;
}
.project_1_image,
.project_2_image {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.582);
  max-width: 100%;
}

.project_data_links a::after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: var(--facebook-icon-black);
  background-size: contain;
}
/* End Project */
